@import "./terms-and-conditions.css";

@keyframes initial-drop-in {
  from {
    transform: translate(-100vh, -100vh);
    opacity: 0;
  }

  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes circle-around {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(0, -30px) rotate(5deg);
  }
  50% {
    transform: translate(0, -10px);
  }
  75% {
    transform: translate(0, -30px) rotate(-5deg);
  }
  100% {
    transform: translate(0, 0);
  }
}

.btn {
  width: 150px;
  height: 150px;
  border: none;
  background: transparent;
  padding: 20px;

  animation: initial-drop-in 800ms ease-in;
  
  /* debug */
  /* border: 1px solid green; */
}

.btn-content {
  display: grid;
  place-content: center;
  height: 100%;

  /* design */
  border-radius: 50%;
  border: 5px solid black;
  background: deeppink;
  color: white;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
}

.pointer-blocker {
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 30%;
  border: 2px solid black;
  transition: opacity 0.3s ease-in;

  pointer-events: none;
}

.hidden {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.clickable {
  cursor: pointer;
}

.party {
  animation: circle-around 1000ms ease-out;
  /* we can read 'weeee!' */
  animation-delay: 200ms;
}
