@import "./terms-and-conditions.css";

.btn {
  width: 150px;
  height: 150px;
  border: none;
  background: transparent;
  padding: 20px;

  /* debug */
  /* border: 1px solid green; */
}

.btn-content {
  display: grid;
  place-content: center;
  height: 100%;

  /* design */
  border-radius: 50%;
  border: 5px solid black;
  background: deeppink;
  color: white;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
}

.pointer-blocker {
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 30%;
  border: 2px solid black;
  transition: opacity 0.3s ease-in;

  pointer-events: none;
}

.hidden {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.clickable {
  cursor: pointer;
  
}
